.carousel-container
{
    position: relative;
    margin: auto;
    border:1px solid black;
    height:200px;
}

.carousel-container ul
{
    text-align: center;
}

.hide
{
    display:none;
}

.fade
{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.item
{
   width:100%; 
}

.active
{
    display:block;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: red;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.menu--content
{
    width:100%;
    height: 30px;
    border:1px solid black;
    text-align: center;

    display:flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    background-image: url('./resources/MenuImg.png');
    background-repeat: repeat-x;

}

.menuItem
{
    float: left;
    width:100px;
    text-align: center;
    border:1px solid red;
    margin:auto;
    color:white;
    cursor:pointer;
}

.list--item
{
    width:150px;
    float:left;
    margin-right: 10px;
}
.list--item img
{
    width:150px;
    height:100px;
    float:left;
    display:block;
    cursor:pointer;
}

.list--item span
{
    margin:0 auto;
    text-align: center;
    vertical-align: middle;
}
.list
{
    height: 170px;
    margin-top:10px;
    border:1px solid black;  
}

.list--header
{
    height: 30px;
    background-image: url('./resources/HeaderImg.png');
    background-repeat: repeat-x;
    color: white; 
    margin-bottom: 5px; 
}

.list span
{
    clear: both;
    float:right;
}
.list--items
{
    padding-left: 5px;
    padding-right: 5px;
}

.filter
{
    width: 300px;
    border:1px solid black;  
}
.filter--header
{
    height: 70px;
}

.filter--item
{
    height: 30px;
    border: 1px solid black;
    cursor: pointer;
}

.column
{
    float:left;
    border:1px solid black;
    padding-left:7px;
    padding-right:7px;
}


.btn
{
    cursor:pointer
}


.backdrop
{
     position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color:rgba(0,0,0,0.3); 
      
      padding: 50px
}

.modal
{
      background-color: #fff;
      border-radius: 5px;
      max-width: 500px;
      max-height: 300px;
      margin: 0 auto;
      padding: 30px
}

.modal-game
{
    background-color: #fff;
      border-radius: 5px;
      max-width: 500px;
      max-height: 600px;
      margin: 0 auto;
      padding: 30px
}
/*.board-row
{
    margin: auto 1.5em; display: inline-block;
}*/
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.board-cell
{
    float:left;
   /* border:1px solid lightsalmon;*/
    width: 70px;
    height: 70px;
    font-size: 70px;
    color:lightsalmon;
     /*text-align:center; */
    /*vertical-align:middle;*/
    
}

div.board-content div:nth-child(even) div:nth-child(odd):not(.cherry)
{
       background-image: url('./resources/bg_1.png');
           background-repeat: repeat-x;
}
div.board-content div:nth-child(even) div:nth-child(even):not(.cherry)
{
     background-image: url('./resources/bg_4.png');
     background-repeat: repeat-x;
}


div.board-content div:nth-child(odd) div:nth-child(even):not(.cherry)
{
    background-image: url('./resources/bg_1.png');
        background-repeat: repeat-x;
}
div.board-content div:nth-child(odd) div:nth-child(odd):not(.cherry)
{
    background-image: url('./resources/bg_4.png');
     background-repeat: repeat-x;
}
/*div.board-content  div.board-row:nth-of-type(1) {
    border-top:5px solid lightgray;
}
div.board-content div.board-row:last-child {
    border-top:5px solid lightgray;
}*/



/*div.board-content div:nth-child(odd)
{
    color: Red;
}*/

.board-content
{
    margin-top: 30px;
    margin-left: auto;
	margin-right: auto;
	max-width: 490px;
	float: none;
    border:4px solid lightgray;

}

.snake-head
{
    /*background-color: green;*/
   background-image: url('./resources/filipe_69x69.jpg') !important;
   /*background-image: url('./resources/bun.gif');*/
    background-repeat: no-repeat;
        background-position: center; 
}

.cherry
{
    background-image: url('./resources/cherry11_70x70.png') !important;
     background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(247,244,237);
}

.la-bruja
{
    background-image: url('./resources/agata_69x69.jpg') !important;
    background-repeat: no-repeat;
    background-position: center; 
}


.party
{
     background-image: url('./resources/dance-party.gif');
     height: 300px;
     margin-top:50px;
}

.dialogTitle
{
    font-size: 20px;
    color: rebeccapurple;
    font-weight: bold;
}

.no-party
{
    background-image: url('./resources/forbidden.jpg');
    background-repeat: no-repeat;
    height: 300px;
    margin-top:50px;

}

body
{
    overflow: hidden;
}